<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/iceo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/iceo"
        android:supportsRtl="true"
        android:theme="@style/Theme.SSH_LED"
        tools:targetApi="31">

        <!-- Adaptive Icon 설정 -->
        <meta-data
            android:name="android.icon"
            android:resource="@drawable/iceo"/>
        <meta-data
            android:name="android.roundIcon"
            android:resource="@drawable/iceo"/>
        <meta-data
            android:name="android.adaptive.icon.background"
            android:resource="@mipmap/ic_launcher_adaptive_back"/>
        <meta-data
            android:name="android.adaptive.icon.foreground"
            android:resource="@mipmap/ic_launcher_adaptive_fore"/>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:screenOrientation="portrait"> <!-- 세로 모드로 고정 -->
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".NetworkScanService"
            android:exported="false"
            android:foregroundServiceType="dataSync">
        </service>

    </application>

</manifest>
